<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <mirrors>
    <mirror>
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <name>Nexus</name>
      <url>http://nginx/nexus/repository/maven-public/</url>
    </mirror>
  </mirrors>

  <servers>
    <!-- credentials to deploy to nexus -->
    <server>
      <id>nexus-release</id>
      <username>sfeir</username>
      <password>sfeir</password>
    </server>
    <server>
      <id>nexus-snapshots</id>
      <username>sfeir</username>
      <password>sfeir</password>
    </server>
  </servers>
</settings>
